<script type="text/javascript">
<% if logged_in? %>
  window.currentUser = <%= render(
    "api/users/user.json.jbuilder",
    user: current_user
  ).html_safe %>
<% end %>
window.splashimage = "<%= image_url('rss.png') %>";
window.logo = "<%= image_url('bulb.png') %>";
</script>

<main id='root'></main>
