.collection-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}
.collection-title {
  font-size: 36px;
  margin: 15px 15px;
  font-weight: bold;
}

.collection-delete-button {
  font-size: 14px;
  box-sizing: border-box;
  height: 30px;
  border-top: 1px solid rgba(0,0,0,0.1);
  margin-top: auto;
}
.collection-delete-button:hover {
  filter: brightness(80%);
}

.right-sidebar {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  background: #E2E2E1;
}

.subs-leader {
  margin: 30px 10px;
  color: rgba(0,0,0,0.5);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.subscription-list {
  list-style: none;
  text-align: left;
  padding: 7px 15px;
}
.subscription-list li {
  padding: 2px;
}


.subscription-link {
  width: 100%;
  text-align: left;
  background: linear-gradient(to right, transparent, rgba(15, 72, 182, 0.62));
}
.collection-feed-list {
  overflow: auto;
  height: 100vh;
}
.stack {
  width: 85%;
  background: linear-gradient(to bottom, transparent, rgba(15, 72, 182, 0.53));
}
