.gate-header {
  position: static;
  width: 100%;
  vertical-align: middle;
  padding: 5px 5px 5px;
  font-size: 30px;
  color: #585f66;
  margin: 25px;
}

.bulb {
  width: 30px;
  height: auto;
}
.master {
  position: relative;
}

.master:after {
  content: '';
  display: block;
  clear: both;
}
.gate-div {
  width: 900px;
  margin: auto;
  padding-top: 80px;
  background: ##E2E2E1;
  height: 200px;
}
.gate-div h1 {
  font-size: 36px;
  font-weight: bold;
}

.gate-div p {
  margin-top: 25px;
  color: #585f66;
  font-weight: bold;
}

.gate-div button {
  margin-top: 25px;
  background: #2BB24C;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

.gate-div button:hover, .gate-div button:focus{
  cursor: pointer;
  background: #208a39;
  box-shadow: 0 0 3px #125221;
}

.splash {
  display: block;
  margin-top: 25px;
}
