.gate-header {
  position: static;
  width: 200px;
  vertical-align: middle;
  padding: 5px 5px 5px;
  font-size: 30px;
  color: #7f8993;
  margin: 25px;
}

.bulb {
  width: 30px;
  height: auto;
}

.gate-body {
  width: 900px;
  margin: auto;
  background: transparent;
  height: 200px;
}
.gate-body h1 {
  font-size: 36px;
  font-weight: bold;
  color: white;
}

.gate-body p {
  margin-top: 25px;
  color: #7f8993;
  font-weight: bold;
}

.gate-body button {
  margin-top: 25px;
  background: #2b86b3;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

.gate-body button:hover {
  cursor: pointer;
  background: #33a3da;
  box-shadow: 0 0 3px #1c5c7c;
}

.splash {
  display: block;
  margin-top: 25px;
}

.login-button {
  margin-top: 10px;
  border: 1px solid rgba(255, 255, 255, 0.43);
  padding: 12px;
  font-size: 20px;
  display: block;
  border-radius: 5px;
  background: transparent;
  color: white;
}
.login-button:hover, login-button:focus {
  cursor: pointer;
  box-shadow: 0 0 3px #71716d;
  filter: brightness(200%);
}
