.modal-box {
  width: 300px;
  margin:  150px auto;
  text-align: center;
  background: #d3ebd9;
  border: 1px solid black;
}

.modal-box {
}

.login-form {
  padding: 25px 15px;
  margin: auto;
  width: 200px;
}
.modal-box h3 {
  padding-top: 25px;
  font-weight: bold;
}

:focus {
  outline: 1px solid grey;
}
