.sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 275px;
  height: 100vh;
  background: #E2E2E1;
}

.new-feed, .recent, button.sidebar-controls {
  text-align: center;
  color: inherit;
  text-decoration: none;
  background: transparent;
  font-weight: bold;
  padding: 10px;
}

.new-feed:hover, .recent:hover,.sidebar-controls button:hover {
  background: #c8c8c1;
  box-shadow: 0 0 3px #71716d;
  outline: 1px solid grey;
}
.new-collection {
  text-align: left;
  background: transparent;
  padding-left: 15px;
  background: #c8c8c1;
  width: 180px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-size: 15px;
  background-image: url(addcoll.png);
  background-repeat: no-repeat;
  background-position: 99%;
  outline: 0;
}
.new-collection:hover{
  filter: brightness(80%);
}

.collection-list {
  list-style: none;
  text-align: left;
  padding: 7px 15px;
}
.collection-list li {
  padding: 2px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.collection-link {
  background: transparent;
  width: 100%;
  text-align: left;
}
.collection-list li:first-child{
  border-top: 1px solid rgba(0,0,0,0.1);
}
.collection-list li:hover {
  background: #c8c8c1;
}

.sidebar-controls {
  padding-top: 5px;
  border-top: 1px solid rgba(0,0,0,0.1);
  position: absolute;
  top: 1;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.sidebar-controls button {
  padding: 7px 15px;
  border-top-left-radius: 7px;
  border-top-right-radius:  7px;
}

.feed-head {
  font-weight:lighter;
  margin-top: 20px;
  padding: 5px 10px;
  color: rgba(0,0,0,0.5);
}
